name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        bun-version: ["latest", "1.3", "1.2"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun run test

  format:
    name: Format
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3"
      - name: Install dependencies
        run: bun install
      - name: Run format
        run: bun run check-format

  integration-test:
    name: Test Scenario
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        bun-version: ["latest", "1.3", "1.2"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}

      - name: Install dependencies
        run: bun install

      - name: Setup Database
        run: bun run db:push

      - name: Start Server
        run: |
          bun run index.ts &
          echo "Server started with PID $!"

      - name: Wait for Server
        run: |
          timeout 30s bash -c 'until curl -s http://localhost:3000/ > /dev/null || [ $? -eq 22 ]; do sleep 1; done'

      - name: Make script executable
        run: chmod +x curl_tests/test_scenario.sh

      - name: Run Test Scenario
        run: ./curl_tests/test_scenario.sh
